body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    transform: translate3d(0, 0, 0); /* activates compositing to avoid repaint - it has performance pros and cons! */
    transform-origin: 50% 50%;
}

#root, #root * {
    transform-style: preserve-3d;
    transform-origin: center center; /* the default */
}

#root {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(0,0,255,0);
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    user-select: none; /* disables drag doc cursor icon in lieu of onDrag preventDefault() */
}

.rectangle {
    outline: 1px solid black;
}