body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    transform: translate3d(0, 0, 0); /* activates compositing to avoid repaint - it has performance pros and cons! */
}

#root, #root * {
    transform-style: preserve-3d;
}

#root {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(0,0,255,0);
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    user-select: none; /* disables drag doc cursor icon in lieu of onDrag preventDefault() */
}

.rectangle {
    outline: 1px solid grey;
}

.line {
    outline: 1px solid rgba(127,127,127,0.25);
    box-shadow: 0 0 0.5px 0 rgba(127,127,127, 0.25);
}

.circle {
    box-sizing: border-box;
    background-color: rgba(255,0,0,0);
    border-radius: 50%;
}

.metaCursor {
  opacity: 0.5
}

.hotspot {
    box-shadow: none;
    outline-color: darkgrey;
    opacity: 1;
}

.hotspot.snapped {
    opacity: 1;
    outline-color: magenta;
}

.rotateHotspot {
    border: 1px solid rgba(0,0,255,0.05);
    box-shadow: 0 0 0.25px 0 grey inset, 0 0 0.25px 0 grey;
}