body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    transform: translate3d(0, 0, 0); /* activating compositing to avoid repaint on opacity change - it has performance pros and cons! */
}

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(0,0,255,0);
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    user-select: none; /* disables drag doc cursor icon in lieu of onDrag preventDefault() */
    transform-style: preserve-3d;
}

.rectangle {
    border: 1px solid grey;
    box-shadow: 0 0 0.25px 0 grey inset, 0 0 0.25px 0 grey;
    border-radius: 5px;
}

.line {
    border: 1px solid rgba(127,127,127,0.25);
    box-shadow: 0 0 0.5px 0 rgba(127,127,127, 0.25);
    transform-origin: left;
}

.circle {
    box-sizing: border-box;
    background-color: rgba(255,0,0,0);
    border-radius: 50%;
}

.metaCursor {
  opacity: 0.7
}

.cornerHotspot {
    box-shadow: none;
    border-radius: 0;
}

.topLeft {border-width: 1px 0 0 1px;}
.topRight {border-width: 1px 1px 0 0;}
.bottomLeft {border-width: 0 0 1px 1px;}
.bottomRight {border-width: 0 1px 1px 0;}
.top {border-width: 1px 0 0 0;}
.right {border-width: 0 1px 0 0;}
.bottom {border-width: 0 0 1px 0;}
.left {border-width: 0 0 0 1px;}

.rotateHotspot {
    border: 1px solid rgba(0,0,255,0.05);
    box-shadow: 0 0 0.25px 0 grey inset, 0 0 0.25px 0 grey;
}

.draggable {
    transition: transform 15ms ease-out;
}