body {
    margin: 0;
    padding: 0;
}

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(0,0,255,0);
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    user-select: none; /* disables drag doc cursor icon in lieu of onDrag preventDefault() */
}

.rectangle {
    margin: 0;
    padding: 0;
    background-color: rgba(255,0,0,0.5);
    position: absolute;
    display: block;
    border: 1px solid grey;
    box-shadow: 0 0 0.25px 0 grey inset, 0 0 0.25px 0 grey;
}

.line {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    border-left: 1px solid rgba(127,127,127,0.25);
    box-shadow: 0 0 0.5px 0 rgba(127,127,127, 0.25);
}

.circle {
    margin: 0;
    padding: 0;
    background-color: rgba(255,0,0,0);
    position: absolute;
    display: block;
    border-radius: 50%;
}

.metaCursor {
  opacity: 0.5
}

